<!-- Footer -->
<div class="wrapper mt-5">
     <footer style="margin-top:250px;">
        <div class="py-3" style="color:antiquewhite; font-size:1.2rem;">
           Developed By:  <a href="https://github.com/AgniTanmay" target="_blank" style="color:white;"> Son's of Sun</a>
         </div>
    </footer>
</div>
   
    
    <script src="/assets/js/jquery-3.2.1.slim.min.js"></script>
    
    <script src="/assets/js/popper.min.js"></script>
    
    <script src="/assets/js/bootstrap.min.js"></script>
    
    </body>
</html>